.facts{
    background-color: #95e1d3;
    height: 200px;
    h2{
    font-size: convertFont(55);
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat";
    }
    h6{
    font-size: convertFont(10);
    color: #ffffff;
    font-family: "Montserrat";
    }
    .container{
        padding-top: 55px;
    }
}