.logo{
    width: 20px;
    height: 20px;
    margin-top: 6px;
}
.services{
    height: 520px;
    h6{
        font-size: convertFont(12);     
        color: #333333;
        font-weight: 300;
        font-family: "Montserrat";
    }
    p{
        line-height: 17px;
        padding-right: 30px;
    }
    
}